<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1 style="text-align:center">All users</h1>
{{!-- <h1> Hello dear {{userName}} </h1> --}}

{{!-- {{#if isMale}}
Hello Man{{else}}Hello GIRL
{{/if}} --}}


{{#if ifLoginSuccessful}}
<h5>Login successful. Email valid.</h5>
{{/if}}

{{#each usersFFile}}
{{!-- // this = users[i] --}}


<h4>email: {{this.email}}</h4>
<h4>password: {{this.password}}</h4>
{{/each}}
    <a href="/login">Back to login</a>
    <a href="/register">Back to register</a>

</body>
</html>

{{!-- hbs has included var and iterations --}}